body {
	background: black;
	max-width: 100%;
}

h1{
	background-image: linear-gradient(red 0%, grey 100%);
	-webkit-background-clip: text;
	color: transparent;
	font-size: 5rem;
	font-weight: bold;
	margin: 3% 0;
}

button{
	border: none;
	border-radius: 300px;
	box-shadow: 8px 8px 5px #540804;
	background-color: #ad2e24;
	height: 150px;
	width: 150px;
	margin-bottom: 3%;
	color: #fff;
	font-weight: bold;
	font-size: 2rem;
}

button:hover{
	background-color: #540804;
	box-shadow: none;
	opacity: .7;
}

h2{
	background-image: linear-gradient(red 0%, grey 100%);
	-webkit-background-clip: text;
	color: transparent;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 15%;
	font-size: 6rem;
}

h3{
	background-image: linear-gradient(red 0%, grey 100%);
	-webkit-background-clip: text;
	color: transparent;
	font-weight: bold;
	font-size: 5rem;
}

h4{
	background-image: linear-gradient(red 0%, grey 100%);
	-webkit-background-clip: text;
	color: transparent;
	font-size: 3rem;
}

h5{
	background-image: linear-gradient(red 0%, grey 100%);
	-webkit-background-clip: text;
	color: transparent;
	font-size: 2rem;
}